---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      {% if post.icon %}
      <div style="float: left; padding-right: 20px; margin-top: 10px">
        <img style="" src="{{post.icon}}" width="50" height="50"/>
      </div>
      {% endif %}

      <a class="post-link" href="{{ site.baseurl }}{{ post.url }}"><h1>{{ post.title }}</h1></a>
      <p class="post-meta post-meta-date">{{ post.date | date: "%b %d %Y" }}</p>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>